* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  transition: color 0.3s ease;
}

body {
  overflow-x: hidden;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// Color Variable

// Primary (customized to green & white theme)

$Dark_Blue: hsl(120, 100%, 20%); // deep green for headings/accents
$Lime_Green: hsl(120, 100%, 27%); // #008b00 core brand green
$Bright_Cyan: hsl(120, 65%, 46%); // auxiliary green for gradients

// Neutral

$Grayish_Blue: hsl(220, 8%, 45%);
$Light_GrayishBlue: hsl(220, 16%, 96%);
$Very_LightGray: hsl(0, 0%, 98%);
$White: hsl(0, 0%, 100%);

// Media queries
$width: 769px;

@mixin mobile {
  @media screen and (max-width: 375px) {
    @content;
  }
}

@mixin mobile-sm {
  @media screen and (min-width: 200px) {
    @content;
  }
}

@mixin normal {
  @media screen and (min-width: 480px) {
    @content;
  }
}

@mixin max-nom {
  @media screen and (min-width: 700px) {
    @content;
  }
}

@mixin mobile-md {
  @media screen and (min-width: 768px) {
    @content;
  }
}

@mixin media-lg {
  @media screen and (min-width: 1020px) {
    @content;
  }
}

@mixin media-xlg {
  @media screen and (min-width: 1440px) {
    @content;
  }
}
