// @import "./general";

.intro {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 2rem;
  // height: 70vh;

  // @include mobile-sm {
  //   height: 85vh;
  // }

  .contain {
    width: 90%;
    display: flex;
    // background-color: yellow;

    // media query
    @include mobile-sm {
      width: 100%;
      flex-direction: column;
      align-items: center;
      // background-color: red;
    }

    @include media-lg {
      flex-direction: row;
      width: 90%;
      // background-color: red;
    }

    .intro-text {
      width: 50%;
      // flex: 40%;
      display: flex;
      flex-direction: column;
      align-items: center;
      // background-color: blue;

      @include mobile-sm {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        order: 2;
        // background-color: orange;
        margin-top: 2rem;
      }

      @include media-lg {
        order: 1;
        width: 50%;
        align-items: flex-start;
        // background-color: rosybrown;
      }

      h1 {
        width: 100%;
        padding: 1.5rem 0;
        font-size: 3rem;
        color: $Dark_Blue;
        // background-color: rgb(228, 178, 178);

        @include mobile-sm {
          width: 80%;
          padding: 1rem 0;
          font-size: 1.5rem;
          text-align: center;
          line-height: 1.3;
        }

        @include mobile-md {
          width: 85%;
          font-size: 3rem;
        }

        @include media-lg {
          width: 100%;
          font-size: 2.7rem;
          text-align: left;
        }
      }

      p {
        width: 100%;
        padding-bottom: 1.5rem;
        color: gray;

        // background-color: blue;
        @include mobile-sm {
          padding: 0.7rem;
          font-size: 1.3rem;
          text-align: center;

          // width: 90%;
        }

        @include mobile-md {
          width: 80%;
          font-size: 1.5rem;
          padding: 0.8rem;
        }

        @include media-lg {
          font-size: 1.2rem;
          text-align: left;
          padding: 1rem 0;
          width: 100%;
        }
      }

      .intro-btn {
        background-image: linear-gradient(to right, #00a300, #008b00);
        color: $White;
        padding: 0.8rem 2rem;
        font-weight: 600;
        font-size: 1.2rem;
        border: none;
        border-radius: 25px;
        cursor: pointer;
        transition: all 0.3s ease;
        box-shadow: 0 4px 15px rgba(0, 139, 0, 0.3);

        &:hover {
          opacity: 0.9;
          transform: translateY(-3px);
          box-shadow: 0 6px 20px rgba(0, 139, 0, 0.4);
        }

        &:active {
          transform: translateY(-1px);
        }

        @include mobile-sm {
          padding: 0.7rem 1.5rem;
          font-size: 1rem;
        }
      }
    }

    // second Intro div with img
    .intro-img {
      width: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      min-height: 400px;
      // Remove background SVG to avoid conflicts with actual image
      // background-image: url(./chance.svg);
      // background-size: cover;
      // background-position: 150px -150px;
      // background-repeat: no-repeat;

      // media query
      @include mobile-sm {
        width: 100%;
        order: 1;
        min-height: 300px;
        padding: 1rem;
      }

      @include mobile-md {
        width: 100%;
        min-height: 350px;
      }

      @include media-lg {
        order: 2;
        width: 50%;
        min-height: 450px;
      }

      .mock-img {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        // Remove absolute positioning to prevent image from being cut off

        @include mobile-sm {
          padding: 1rem 0;
          width: 100%;
        }

        @include mobile-md {
          width: 100%;
        }

        @include max-nom {
          width: 100%;
        }

        @include media-lg {
          width: 100%;
        }

        img {
          width: 100%;
          max-width: 100%;
          height: auto;
          object-fit: contain;
          display: block;

          @include mobile-sm {
            max-width: 90%;
          }

          @include media-lg {
            max-width: 100%;
          }
        }
      }
    }
  }
}