@import "general";
@import "header";
@import "intro";
@import "service";
@import "donation";
@import "article";
@import "footer";
@import "errors";
@import "effects";

.App {
  /* Allow full-bleed section backgrounds */
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

.video-large {
  width: 100%;
  height: auto;
}

